fastapi
uvicorn
sqlalchemy
passlib
bcrypt
python-jose

#1. python3 -m venv blog-env (create blog-env)
#2. pip3 install -r requirements.txt (use command install)
#3. source blog-env/bin/activities
#4. uvicorn blog.main:app --reload (run project)

#* http://127.0.0.1:8000/docs
#* http://127.0.0.1:8000/redoc